/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(reset.css);
/*
*********useage*********
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);
@include linear-gradient(#db3542, #bc2741);
@include range-width-in(0,0){}
@include grid( 5, 5%);


***center***
@include css3(transform,translatex(-50%) translatey(-50%));
top:50%;
left: 50%;
************

*********tableuseage*********
.tablestyle{
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
    }
    table tr td{
        text-align: center;
        padding: 5px;
    }
    table tr:nth-child(odd) {
          background-color: rgba(76, 46, 0, 0.17);
        }
        span{
            @include midtext();
            font-size: 23px;
        }
}
*/
/*
*********animation*********
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/
/*zindex*/
/*linear-gradient*/
/*midtext*/
/*stext*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*clearfix*/
/*changebg*/
/*gridbox*/
@import url(iconstyle.css);
@import url(wSelect.css);
/* line 13, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 16, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 20, ../sass/screen.scss */
body {
  width: 100%;
  background: #fff;
  font: normal 16px/20px "Microsoft Yahei", -apple-system, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
}

/* line 27, ../sass/screen.scss */
.wrapper {
  min-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* line 33, ../sass/screen.scss */
.wrapper-in {
  max-width: 1280px;
  min-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 41, ../sass/screen.scss */
.common-wrapper-in {
  max-width: 1280px;
  min-width: 1000px;
  position: relative;
}

/* line 46, ../sass/screen.scss */
nav {
  z-index: 10;
  position: relative;
}

/* line 51, ../sass/screen.scss */
.topnav .loginf {
  z-index: 10;
  padding: 0 1%;
  height: 40px;
  width: 98%;
  background: #2e2e2e;
  line-height: 40px;
  color: #fff;
}
/* line 59, ../sass/screen.scss */
.topnav .loginf a {
  color: #fff;
}
/* line 62, ../sass/screen.scss */
.topnav .loginf .time {
  float: left;
}
/* line 65, ../sass/screen.scss */
.topnav .loginf .inf {
  float: right;
}
/* line 67, ../sass/screen.scss */
.topnav .loginf .inf i {
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 8px;
}
/* line 74, ../sass/screen.scss */
.topnav .account_logout {
  vertical-align: middle;
}
/* line 76, ../sass/screen.scss */
.topnav .account_logout > * {
  margin-right: 20px;
}
/* line 79, ../sass/screen.scss */
.topnav .account_logout i {
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 8px;
  margin-top: 10px;
}
/* line 85, ../sass/screen.scss */
.topnav .account_logout input {
  margin-top: 9px;
  width: 120px;
  height: 20px;
  border: 0px;
  padding: 0 10px;
  font-size: 12px;
}
/* line 93, ../sass/screen.scss */
.topnav .account_logout .forget {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 95, ../sass/screen.scss */
.topnav .account_logout .forget:hover {
  color: #ff7200;
}
/* line 100, ../sass/screen.scss */
.topnav .account_logout .account_btn {
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 20px;
  margin-top: 6px;
}
/* line 108, ../sass/screen.scss */
.topnav .account_logout .account_btn div {
  color: #fff;
  padding: 3px 15px;
}
/* line 112, ../sass/screen.scss */
.topnav .account_logout .account_btn:hover {
  background: #fff;
}
/* line 114, ../sass/screen.scss */
.topnav .account_logout .account_btn:hover div {
  color: #2e2e2e;
}
/* line 121, ../sass/screen.scss */
.topnav .list > ul {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}
/* line 125, ../sass/screen.scss */
.topnav .list > ul:hover {
  background: #000;
}
/* line 127, ../sass/screen.scss */
.topnav .list > ul:hover .list_s {
  max-height: 1000px;
  opacity: 1;
}
/* line 133, ../sass/screen.scss */
.topnav .list > ul .list_b {
  padding: 0 10px;
  max-width: 80px;
  text-align: center;
}
/* line 138, ../sass/screen.scss */
.topnav .list > ul .list_s {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  position: absolute;
  width: 300px;
  top: 40px;
  background: #000;
  z-index: 9;
  left: calc(50% - 150px);
  line-height: 35px;
  font-size: 14px;
}
/* line 153, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist {
  width: 600px;
  left: calc(50% - 300px);
}
/* line 156, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist ul {
  float: left;
  width: calc( 25% - 1px );
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
  min-height: 175px;
}
/* line 163, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist ul .list_s_title {
  font-weight: 900;
}
/* line 165, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist ul .list_s_title div {
  color: #fff000;
}
/* line 169, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist ul:last-child {
  border-right: 0px solid rgba(255, 255, 255, 0.3);
}
/* line 172, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist ul li {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 174, ../sass/screen.scss */
.topnav .list > ul .list_s_biglist ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 182, ../sass/screen.scss */
.topnav .list > * {
  float: left;
}
/* line 185, ../sass/screen.scss */
.topnav .list .list_account {
  margin-right: 40px;
}
/* line 187, ../sass/screen.scss */
.topnav .list .list_account a div {
  max-width: none;
}
/* line 191, ../sass/screen.scss */
.topnav .list .list_account .list_s {
  padding: 0 10px;
}
/* line 193, ../sass/screen.scss */
.topnav .list .list_account .list_s .inf_name {
  color: #fff000;
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 200, ../sass/screen.scss */
.topnav .list .list_account .list_s .inf_money {
  line-height: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 204, ../sass/screen.scss */
.topnav .list .list_account .list_s .listbtn {
  width: 100%;
  margin: 5px 0;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 211, ../sass/screen.scss */
.topnav .list .list_account .list_s .listbtn div {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 212, ../sass/screen.scss */
.topnav .list .list_account .list_s .listbtn:hover {
  border: 1px solid #fff000;
}
/* line 214, ../sass/screen.scss */
.topnav .list .list_account .list_s .listbtn:hover div {
  color: #fff000;
}
/* line 222, ../sass/screen.scss */
.topnav .topnav {
  height: 80px;
  background: #ff7200;
  padding: 0 1%;
  width: 98%;
}
/* line 227, ../sass/screen.scss */
.topnav .topnav .logo {
  float: left;
  height: 100%;
}
/* line 230, ../sass/screen.scss */
.topnav .topnav .logo img {
  vertical-align: middle;
  height: 100%;
}
/* line 235, ../sass/screen.scss */
.topnav .topnav .topnav_list {
  line-height: 80px;
  font-size: 20px;
  float: right;
}
/* line 240, ../sass/screen.scss */
.topnav .topnav .topnav_list > .listadd:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 60px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 249, ../sass/screen.scss */
.topnav .topnav .topnav_list > .listadd:hover:after {
  border-bottom: 10px solid #000;
}
/* line 253, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul {
  width: 100px;
}
/* line 255, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul div {
  color: #fff;
}
/* line 259, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul:hover {
  background: #ff4800;
}
/* line 264, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul .list_b {
  padding: 0 10px;
}
/* line 267, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul .list_s {
  width: 300px;
  top: 80px;
  background: #000;
  left: calc(50% - 150px);
  line-height: 35px;
}
/* line 273, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul .list_s .list_s_in {
  width: 50%;
  float: left;
  text-align: center;
  padding: 10px 0;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 283, ../sass/screen.scss */
.topnav .topnav .topnav_list > ul .list_s .list_s_in:hover {
  color: #ff7200;
  background: #222;
}

/* line 292, ../sass/screen.scss */
.topbanner {
  width: 100%;
}

/* line 295, ../sass/screen.scss */
.lotterybox {
  margin-top: -80px;
  background: #2e2e2e;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
}
/* line 301, ../sass/screen.scss */
.lotterybox > div {
  float: left;
}
/* line 304, ../sass/screen.scss */
.lotterybox .header {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
/* line 309, ../sass/screen.scss */
.lotterybox .lotterybox_left {
  width: 75%;
}
/* line 311, ../sass/screen.scss */
.lotterybox .lotterybox_left .lotterybox_left_heaher {
  background: #ff7200;
  font-size: 16px;
}
/* line 314, ../sass/screen.scss */
.lotterybox .lotterybox_left .lotterybox_left_heaher i {
  font-size: 24px;
  vertical-align: middle;
  float: left;
  line-height: 40px;
  margin-right: 10px;
}
/* line 322, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery {
  overflow: hidden;
  font-size: 20px;
  text-align: center;
}
/* line 326, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li {
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 20%;
  position: relative;
  cursor: pointer;
  height: 155px;
  overflow: hidden;
}
/* line 243, ../sass/mixin.scss */
.lotterybox .lotterybox_left .toplottery li:nth-child(5n) {
  margin-right: 0;
}
/* line 332, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 343, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li:hover:after {
  background: rgba(0, 0, 0, 0.5);
}
/* line 346, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li:hover .toplotterytxt {
  -webkit-transform: scale(1.1) translatey(-50%);
  -moz-transform: scale(1.1) translatey(-50%);
  -ms-transform: scale(1.1) translatey(-50%);
  -o-transform: scale(1.1) translatey(-50%);
  transform: scale(1.1) translatey(-50%);
}
/* line 349, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 353, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: relative;
  vertical-align: middle;
  -webkit-transform: translatey(-50%) translatez(-50%);
  -moz-transform: translatey(-50%) translatez(-50%);
  -ms-transform: translatey(-50%) translatez(-50%);
  -o-transform: translatey(-50%) translatez(-50%);
  transform: translatey(-50%) translatez(-50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 363, ../sass/screen.scss */
.lotterybox .lotterybox_left .toplottery li .toplotterytxt {
  position: absolute;
  width: 100%;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 50%;
  color: #fff;
  z-index: 5;
  text-shadow: 0px 0px 5px #000000;
}
/* line 376, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery {
  padding: 25px 15px;
  overflow: hidden;
  width: calc(100% - 30px);
  position: relative;
}
/* line 381, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid {
  float: left;
  width: calc(50% - 70px - 1px);
  padding: 0 35px;
}
/* line 385, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid header {
  color: #ff7200;
  font-size: 20px;
  line-height: 45px;
  padding-left: 10px;
  padding-top: 5px;
}
/* line 392, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist {
  font-size: 16px;
  background: #171717;
  padding: 5px;
  overflow: hidden;
}
/* line 397, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist li {
  float: left;
  padding: 8px;
  padding-right: 20px;
  position: relative;
}
/* line 402, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist li:after {
  font-size: 14px;
  width: 18px;
  height: 18px;
  position: absolute;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  top: 8px;
  right: -0px;
  padding: 0 1px;
}
/* line 413, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist li div {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 418, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist li:hover div {
  color: #fff000;
}
/* line 424, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist .tag_hot:after {
  content: "H";
  background: #da0000;
}
/* line 430, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_grid .gamelist .tag_new:after {
  content: "N";
  background: #971cff;
}
/* line 437, ../sass/screen.scss */
.lotterybox .lotterybox_left .alllottery .alllottery_left {
  border-right: 1px solid #5c5c5c;
}
/* line 442, ../sass/screen.scss */
.lotterybox .lotterybox_right {
  width: 25%;
}
/* line 444, ../sass/screen.scss */
.lotterybox .lotterybox_right .totalaward {
  text-align: right;
  position: relative;
}
/* line 447, ../sass/screen.scss */
.lotterybox .lotterybox_right .totalaward:after {
  content: "";
  border-color: #ff7200 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 40px 40px 0px 0px;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 458, ../sass/screen.scss */
.lotterybox .lotterybox_right .totalaward span {
  font-size: 20px;
  margin: 0 5px;
  color: #ff7200;
  font-weight: 900;
}
/* line 463, ../sass/screen.scss */
.lotterybox .lotterybox_right .totalaward span:before {
  content: "$";
}
/* line 468, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop {
  background: #ff7200;
  color: #fff;
  padding: 20px;
  margin-bottom: -1000px;
  padding-bottom: 1020px;
}
/* line 474, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop header {
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 35px;
  padding-bottom: 10px;
}
/* line 479, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop header span {
  font-size: 16px;
  letter-spacing: 0px;
}
/* line 484, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .lottery_toppop_list {
  width: 100%;
  overflow: hidden;
}
/* line 487, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .lottery_toppop_list li {
  float: left;
  width: calc( 50% -  2px - 2.5%);
  border: 1px solid #fff;
  margin-right: 5%;
  margin-bottom: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 496, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .lottery_toppop_list li div {
  color: #fff;
  padding: 5%;
}
/* line 500, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .lottery_toppop_list li:nth-child(2n+2) {
  margin-right: 0%;
}
/* line 503, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .lottery_toppop_list li:hover {
  background: #fff;
}
/* line 505, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .lottery_toppop_list li:hover div {
  color: #ff7200;
}
/* line 512, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .popbanners {
  margin-top: 10px;
}
/* line 514, ../sass/screen.scss */
.lotterybox .lotterybox_right .lottery_toppop .popbanners img {
  width: 100%;
}

/* line 521, ../sass/screen.scss */
.game_orther {
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
/* line 526, ../sass/screen.scss */
.game_orther li {
  overflow: hidden;
  float: left;
  margin-right: 3%;
  margin-bottom: 3%;
  width: 31.33333%;
  position: relative;
}
/* line 243, ../sass/mixin.scss */
.game_orther li:nth-child(3n) {
  margin-right: 0;
}
/* line 530, ../sass/screen.scss */
.game_orther li img {
  width: 100%;
  vertical-align: middle;
}
/* line 534, ../sass/screen.scss */
.game_orther li .title {
  width: 100%;
  position: absolute;
  bottom: 100px;
  text-align: center;
  z-index: 5;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 545, ../sass/screen.scss */
.game_orther li .title div {
  font-size: 16px;
  letter-spacing: 0px;
}
/* line 550, ../sass/screen.scss */
.game_orther li .titlebg {
  -webkit-transform: translatex(-50%) scale(1);
  -moz-transform: translatex(-50%) scale(1);
  -ms-transform: translatex(-50%) scale(1);
  -o-transform: translatex(-50%) scale(1);
  transform: translatex(-50%) scale(1);
  position: absolute;
  left: 50%;
  bottom: 110px;
  -webkit-border-radius: 80px 80px 0 0;
  -moz-border-radius: 80px 80px 0 0;
  -ms-border-radius: 80px 80px 0 0;
  -o-border-radius: 80px 80px 0 0;
  border-radius: 80px 80px 0 0;
  width: 160px;
  height: 80px;
  background-color: #2e2e2e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 561, ../sass/screen.scss */
.game_orther li .text {
  height: 80px;
  position: absolute;
  bottom: 0;
  width: calc(100% -30px);
  color: #424242;
  background: rgba(255, 255, 255, 0.85);
  border-top: 5px solid #ff7200;
  padding: 15px 30px;
  line-height: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 574, ../sass/screen.scss */
.game_orther li:hover .titlebg {
  -webkit-transform: translatex(-50%) scale(3);
  -moz-transform: translatex(-50%) scale(3);
  -ms-transform: translatex(-50%) scale(3);
  -o-transform: translatex(-50%) scale(3);
  transform: translatex(-50%) scale(3);
  width: 100%;
  height: 100%;
  opacity: .8;
}
/* line 580, ../sass/screen.scss */
.game_orther li:hover .text {
  height: 100px;
}
/* line 583, ../sass/screen.scss */
.game_orther li:hover .title {
  bottom: 140px;
  -webkit-transform: translatey(-50%) scale(1.2);
  -moz-transform: translatey(-50%) scale(1.2);
  -ms-transform: translatey(-50%) scale(1.2);
  -o-transform: translatey(-50%) scale(1.2);
  transform: translatey(-50%) scale(1.2);
}

/* line 591, ../sass/screen.scss */
#index .copyright {
  padding-top: 150px;
  margin-top: -153px;
}
/* line 595, ../sass/screen.scss */
#index .topnav, #index .lotterybox, #index .game_orther li {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* line 599, ../sass/screen.scss */
.copyright {
  background: #2e2e2e;
  position: relative;
  color: #fff;
}
/* line 603, ../sass/screen.scss */
.copyright .copylogo {
  text-align: center;
  height: 75px;
  margin: 20px 0px;
}
@media screen and (min-width: 0) and (max-width: 1280px) {
  /* line 603, ../sass/screen.scss */
  .copyright .copylogo {
    height: 55px;
  }
}
/* line 610, ../sass/screen.scss */
.copyright .copylogo img {
  height: 100%;
  vertical-align: middle;
}
/* line 616, ../sass/screen.scss */
.copyright .copy_inf {
  overflow: hidden;
  line-height: 30px;
  padding: 20px;
}
/* line 620, ../sass/screen.scss */
.copyright .copy_inf li {
  float: left;
}
/* line 623, ../sass/screen.scss */
.copyright .copy_inf .txt {
  width: calc(40% - 40px);
  padding: 30px 20px;
}
/* line 627, ../sass/screen.scss */
.copyright .copy_inf .txt_QQ {
  width: calc(35% - 40px);
}
/* line 630, ../sass/screen.scss */
.copyright .copy_inf .txt_license {
  margin-left: 5%;
}
/* line 633, ../sass/screen.scss */
.copyright .copy_inf .copy_license {
  width: 20%;
  padding-bottom: 30px;
}
/* line 636, ../sass/screen.scss */
.copyright .copy_inf .copy_license img {
  width: 100%;
  vertical-align: middle;
}
/* line 641, ../sass/screen.scss */
.copyright .copy_inf a {
  color: #fff;
}

/* line 647, ../sass/screen.scss */
.footer {
  color: #fff;
  text-align: center;
  background: #939393;
  cursor: default;
  padding: 20px 0;
}
/* line 653, ../sass/screen.scss */
.footer a {
  color: #fff;
}
/* line 655, ../sass/screen.scss */
.footer a:hover {
  text-decoration: underline;
}

/*********videopage**********/
/* line 662, ../sass/screen.scss */
#video {
  /*
  .copyright{
      padding-top: 150px;
      margin-top: -153px;
  }
  */
}
/* line 669, ../sass/screen.scss */
#video .videobox {
  margin-top: 3%;
  overflow: hidden;
  z-index: 3;
}
/* line 673, ../sass/screen.scss */
#video .videobox li {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 3%;
  margin-bottom: 3%;
  width: 31.33333%;
  cursor: pointer;
}
/* line 243, ../sass/mixin.scss */
#video .videobox li:nth-child(3n) {
  margin-right: 0;
}
/* line 678, ../sass/screen.scss */
#video .videobox li:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 690, ../sass/screen.scss */
#video .videobox li:hover:after {
  opacity: 1;
}
/* line 694, ../sass/screen.scss */
#video .videobox li:hover .videocontent .videobtn {
  background: #ff7200;
  border: 1px solid #ff7200;
}
/* line 701, ../sass/screen.scss */
#video .videobox li .videoback img {
  width: 100%;
  vertical-align: middle;
}
/* line 704, ../sass/screen.scss */
#video .videobox li .videocontent {
  position: absolute;
  z-index: 5;
  -webkit-transform: translatex(-50%) translatey(-50%);
  -moz-transform: translatex(-50%) translatey(-50%);
  -ms-transform: translatex(-50%) translatey(-50%);
  -o-transform: translatex(-50%) translatey(-50%);
  transform: translatex(-50%) translatey(-50%);
  top: 50%;
  left: 50%;
  width: 200px;
}
/* line 712, ../sass/screen.scss */
#video .videobox li .videocontent .videologo img {
  width: 100%;
}
/* line 716, ../sass/screen.scss */
#video .videobox li .videocontent .videobtn {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  width: 60%;
  margin: 0 auto;
}

/*********elegame***********/
/* line 733, ../sass/screen.scss */
#elegame .gamelist {
  margin-top: 60px;
  z-index: 4;
  position: relative;
}
/* line 737, ../sass/screen.scss */
#elegame .gamelist .gamename {
  background: #6d6d6d;
  overflow: hidden;
}
/* line 740, ../sass/screen.scss */
#elegame .gamelist .gamename .gamelistbtn {
  float: left;
  width: 50px;
  cursor: pointer;
}
/* line 744, ../sass/screen.scss */
#elegame .gamelist .gamename .gamelistbtn:hover {
  color: #fff;
}
/* line 748, ../sass/screen.scss */
#elegame .gamelist .gamename > div {
  overflow: hidden;
  width: calc(100% - 100px);
  float: left;
  height: 70px;
}
/* line 753, ../sass/screen.scss */
#elegame .gamelist .gamename > div ul {
  position: relative;
  width: 1000%;
  overflow: hidden;
}
/* line 758, ../sass/screen.scss */
#elegame .gamelist .gamename > div li {
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 1.66667%;
}
/* line 243, ../sass/mixin.scss */
#elegame .gamelist .gamename > div li:nth-child(60n) {
  margin-right: 0;
}
/* line 760, ../sass/screen.scss */
#elegame .gamelist .gamename li {
  font-size: 20px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 766, ../sass/screen.scss */
#elegame .gamelist .gamename li div {
  color: #fff;
}
/* line 769, ../sass/screen.scss */
#elegame .gamelist .gamename li:hover {
  background: #2e2e2e;
}
/* line 773, ../sass/screen.scss */
#elegame .gamelist .gamename .active {
  background: #2e2e2e;
  position: relative;
}
/* line 776, ../sass/screen.scss */
#elegame .gamelist .gamename .active:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 50px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom: 10px solid #ff7200;
}
/* line 788, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar {
  background: #ff7200;
  line-height: 60px;
  height: 60px;
}
/* line 793, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort ul {
  float: left;
  padding: 0 20px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 798, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort ul:hover {
  background: #ff4800;
}
/* line 800, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort ul:hover .gamelists {
  max-height: 500px;
  opacity: 1;
}
/* line 805, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort ul .gamelists {
  overflow: hidden;
  position: absolute;
  left: 0;
  max-height: 0;
  opacity: 0;
  width: 200px;
  background: #ff4800;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 815, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort ul .gamelists div {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 20px;
}
/* line 818, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort ul .gamelists div:hover {
  background: #f10000;
}
/* line 824, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .gamesort a div {
  color: #fff;
}
/* line 828, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .searchbar {
  float: right;
  margin-right: 10px;
  margin-top: 13px;
}
/* line 832, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .searchbar > * {
  float: left;
}
/* line 835, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .searchbar input {
  height: 35px;
  width: 180px;
  border: 0;
  padding: 0 10px;
}
/* line 841, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .searchbar .searchbtn {
  text-align: center;
  width: 100px;
  line-height: 33px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 10px;
}
/* line 851, ../sass/screen.scss */
#elegame .gamelist .gamesearchbar .searchbar .searchbtn:hover {
  background: #fff;
  color: #ff4800;
}
/* line 859, ../sass/screen.scss */
#elegame .gamebox {
  margin-top: 1%;
}
/* line 861, ../sass/screen.scss */
#elegame .gamebox ul {
  overflow: hidden;
}
/* line 863, ../sass/screen.scss */
#elegame .gamebox ul li {
  background: #2e2e2e;
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 19.2%;
  position: relative;
  height: 240px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}
/* line 243, ../sass/mixin.scss */
#elegame .gamebox ul li:nth-child(5n) {
  margin-right: 0;
}
/* line 870, ../sass/screen.scss */
#elegame .gamebox ul li .elegame_img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
/* line 874, ../sass/screen.scss */
#elegame .gamebox ul li .elegame_img img {
  width: 100%;
  position: absolute;
  -webkit-transform: translatex(-50%) translatey(-50%) scale(1);
  -moz-transform: translatex(-50%) translatey(-50%) scale(1);
  -ms-transform: translatex(-50%) translatey(-50%) scale(1);
  -o-transform: translatex(-50%) translatey(-50%) scale(1);
  transform: translatex(-50%) translatey(-50%) scale(1);
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 883, ../sass/screen.scss */
#elegame .gamebox ul li .elegame_txt {
  position: absolute;
  line-height: 50px;
  height: 50px;
  width: 100%;
  color: #2e2e2e;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  bottom: 0;
  border-top: 5px solid #ec6c04;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 899, ../sass/screen.scss */
#elegame .gamebox ul li:hover .elegame_img img {
  -webkit-transform: translatex(-50%) translatey(-50%) scale(1.1);
  -moz-transform: translatex(-50%) translatey(-50%) scale(1.1);
  -ms-transform: translatex(-50%) translatey(-50%) scale(1.1);
  -o-transform: translatex(-50%) translatey(-50%) scale(1.1);
  transform: translatex(-50%) translatey(-50%) scale(1.1);
}
/* line 903, ../sass/screen.scss */
#elegame .gamebox ul li:hover .elegame_txt {
  background: #ff4800;
  color: #fff;
}
/* line 913, ../sass/screen.scss */
#elegame .pagebar {
  background: #ff7200;
  line-height: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 1%;
}
/* line 919, ../sass/screen.scss */
#elegame .pagebar li {
  display: inline-block;
}
/* line 923, ../sass/screen.scss */
#elegame .pagebar li:hover a div {
  background: #ff4800;
}
/* line 929, ../sass/screen.scss */
#elegame .pagebar li div {
  color: #fff;
  height: 60px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 939, ../sass/screen.scss */
#event .inflist {
  margin-top: 60px;
}
/* line 941, ../sass/screen.scss */
#event .inflist .inflist_bannerbox {
  background: #f3f3f3;
  position: relative;
  margin-bottom: 30px;
}
/* line 945, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_banner {
  position: relative;
  cursor: pointer;
}
/* line 948, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_banner .inflist_banner_logo {
  position: absolute;
  height: 100%;
}
/* line 951, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_banner .inflist_banner_logo img {
  height: 100%;
  vertical-align: middle;
}
/* line 957, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_banner .inflist_banner_img img {
  width: 100%;
  vertical-align: middle;
}
/* line 964, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_text {
  padding: 0px 8%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 969, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_text .inflist_title {
  font-size: 20px;
  line-height: 35px;
  color: #ff7200;
  font-weight: 900;
}
/* line 975, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_text .inflist_time {
  color: #898989;
}
/* line 978, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .inflist_text .inflist_content {
  margin-top: 35px;
  color: #222222;
  text-align: justify;
}
/* line 984, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .popbtn {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #2e2e2e;
  margin-top: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 991, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .popbtn:hover .cursorbtn {
  background-color: #2e2e2e;
}
/* line 993, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .popbtn:hover .cursorbtn i {
  color: #ff7200;
}
/* line 998, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .popbtn .cursorbtn {
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -ms-border-radius: 40px 40px 0 0;
  -o-border-radius: 40px 40px 0 0;
  border-radius: 40px 40px 0 0;
  width: 80px;
  height: 40px;
  background-color: rgba(46, 46, 46, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 1009, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .popbtn .cursorbtn i {
  font-size: 40px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 1013, ../sass/screen.scss */
#event .inflist .inflist_bannerbox .popbtn .cursorbtn i:before {
  margin-left: 20px;
  content: "\e901";
}
/* line 1022, ../sass/screen.scss */
#event .inflist .openbanner .inflist_text {
  padding: 35px 8%;
  max-height: 1000px;
}
/* line 1026, ../sass/screen.scss */
#event .inflist .openbanner .popbtn {
  margin-top: 40px;
}
/* line 1028, ../sass/screen.scss */
#event .inflist .openbanner .popbtn .cursorbtn {
  background-color: #2e2e2e;
}
/* line 1031, ../sass/screen.scss */
#event .inflist .openbanner .popbtn .cursorbtn i:before {
  content: "\e902";
}

/*********General**********/
/* line 1043, ../sass/screen.scss */
#about .copyright {
  padding-top: 150px;
  margin-top: -130px;
}
/* line 1047, ../sass/screen.scss */
#about .aboutbox {
  margin-top: 3%;
  overflow: hidden;
  z-index: 3;
}
/* line 1051, ../sass/screen.scss */
#about .aboutbox .leftmenu {
  width: 250px;
  margin-bottom: -3000px;
  padding-bottom: 3000px;
  float: left;
  background-color: #636363;
}
/* line 1058, ../sass/screen.scss */
#about .aboutbox .leftmenu a {
  text-align: center;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #2c2c2c;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 1065, ../sass/screen.scss */
#about .aboutbox .leftmenu a:hover {
  background-color: #2c2c2c;
  cursor: pointer;
}
/* line 1071, ../sass/screen.scss */
#about .aboutbox .rightbox {
  float: left;
  width: calc(100% - 250px);
  background-color: #f3f3f3;
}
/* line 1076, ../sass/screen.scss */
#about .aboutbox .rightbox .banner {
  position: relative;
}
/* line 1078, ../sass/screen.scss */
#about .aboutbox .rightbox .banner img {
  width: 100%;
}
/* line 1081, ../sass/screen.scss */
#about .aboutbox .rightbox .banner .banner-text {
  position: absolute;
  top: 60%;
  left: 0;
  height: 35px;
  line-height: 35px;
  width: 320px;
  background-color: #2c2c2c;
  color: #fff;
  padding: 12px 25px;
  letter-spacing: 3px;
}
/* line 1092, ../sass/screen.scss */
#about .aboutbox .rightbox .banner .banner-text h1 {
  font-size: 35px;
}
/* line 1094, ../sass/screen.scss */
#about .aboutbox .rightbox .banner .banner-text h1 span {
  font-size: 22px;
}
/* line 1100, ../sass/screen.scss */
#about .aboutbox .rightbox .description {
  padding: 40px 60px;
  background-color: #f3f3f3;
}
/* line 1103, ../sass/screen.scss */
#about .aboutbox .rightbox .description input,
#about .aboutbox .rightbox .description textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2c2c2c;
}
/* line 1108, ../sass/screen.scss */
#about .aboutbox .rightbox .description input::placeholder,
#about .aboutbox .rightbox .description textarea::placeholder {
  color: #c2c2c2;
}
/* line 1112, ../sass/screen.scss */
#about .aboutbox .rightbox .description input {
  margin-bottom: 25px;
}
/* line 1115, ../sass/screen.scss */
#about .aboutbox .rightbox .description .input-mark {
  margin-bottom: 0;
}
/* line 1118, ../sass/screen.scss */
#about .aboutbox .rightbox .description p {
  margin-bottom: 20px;
}
/* line 1121, ../sass/screen.scss */
#about .aboutbox .rightbox .description .leftform,
#about .aboutbox .rightbox .description .rightform {
  padding: 0 15px;
  float: left;
  width: calc(100% / 2 - 15px*2);
}
/* line 1126, ../sass/screen.scss */
#about .aboutbox .rightbox .description .leftform textarea,
#about .aboutbox .rightbox .description .leftform input,
#about .aboutbox .rightbox .description .rightform textarea,
#about .aboutbox .rightbox .description .rightform input {
  width: calc(100% - 10px*2);
}
/* line 1131, ../sass/screen.scss */
#about .aboutbox .rightbox .description .centerform {
  padding: 0 15px;
  width: calc(100% - 15px*2);
}
/* line 1134, ../sass/screen.scss */
#about .aboutbox .rightbox .description .centerform textarea {
  width: calc(100% - 10px*2);
  margin-bottom: 25px;
}

/* line 1144, ../sass/screen.scss */
.formbutton {
  text-align: center;
}
/* line 1146, ../sass/screen.scss */
.formbutton button {
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 4px;
  margin-right: 20px;
}
/* line 1156, ../sass/screen.scss */
.formbutton .login,
.formbutton .confirm {
  background-color: #ff7200;
}
/* line 1160, ../sass/screen.scss */
.formbutton .register {
  background-color: #2c2c2c;
}

/*********formpage**********/
/* line 1170, ../sass/screen.scss */
#about .contactbox .leftmenu,
#about .contactbox .rightbox {
  height: 780px;
}
/* line 1182, ../sass/screen.scss */
#about .suggestbox .leftmenu,
#about .suggestbox .rightbox {
  height: 900px;
}
/* line 1188, ../sass/screen.scss */
#about .suggestbox .rightbox .suggest > * {
  margin-right: 8px;
}
/* line 1191, ../sass/screen.scss */
#about .suggestbox .rightbox .suggest .title {
  color: #ff7200;
}
/* line 1195, ../sass/screen.scss */
#about .suggestbox .rightbox .radiogroup {
  display: inline-block;
}
/* line 1204, ../sass/screen.scss */
#about .contactbox .rightbox .description,
#about .suggestbox .rightbox .description,
#about .joinbox .rightbox .description {
  padding: 40px 160px;
}
/* line 1211, ../sass/screen.scss */
#about .joinbox .rightbox .description {
  padding: 40px 0px;
  width: 90%;
  margin: 0 auto;
}
/* line 1215, ../sass/screen.scss */
#about .joinbox .rightbox .description .formbox {
  padding: 0 50px;
}
/* line 1218, ../sass/screen.scss */
#about .joinbox .rightbox .description hr {
  background-color: #eee;
  margin: 25px 0;
  width: 100%;
}
/* line 1223, ../sass/screen.scss */
#about .joinbox .rightbox .description .formgroup {
  width: 670px;
}
/* line 1226, ../sass/screen.scss */
#about .joinbox .rightbox .description .formgroup:last-child input {
  margin-bottom: 0;
}
/* line 1230, ../sass/screen.scss */
#about .joinbox .rightbox .description .formgroup input {
  width: 300px;
}
/* line 1233, ../sass/screen.scss */
#about .joinbox .rightbox .description .formgroup select,
#about .joinbox .rightbox .description .formgroup .text-icon {
  width: 322px;
}
/* line 1237, ../sass/screen.scss */
#about .joinbox .rightbox .description .formgroup .text-icon {
  position: relative;
  height: 18px;
  display: inline-block;
}
/* line 1242, ../sass/screen.scss */
#about .joinbox .rightbox .description .formgroup .icon-visibility_off:before,
#about .joinbox .rightbox .description .formgroup .icon-visibility:before {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 24px;
  color: #c2c2c2;
  cursor: pointer;
}
/* line 1252, ../sass/screen.scss */
#about .joinbox .rightbox .description span:before {
  vertical-align: middle;
}
/* line 1255, ../sass/screen.scss */
#about .joinbox .rightbox .description .icon-arrow_drop_down {
  font-size: 45px;
}
/* line 1258, ../sass/screen.scss */
#about .joinbox .rightbox .description .icon-information:before {
  font-size: 30px;
}
/* line 1261, ../sass/screen.scss */
#about .joinbox .rightbox .description .icon-delete:before {
  font-size: 28px;
}
/* line 1264, ../sass/screen.scss */
#about .joinbox .rightbox .description .icon-check_circle:before {
  font-size: 22px;
  margin: 0 4px;
}
/* line 1268, ../sass/screen.scss */
#about .joinbox .rightbox .description .icon-checkmark:before {
  font-size: 26px;
  vertical-align: top;
  line-height: 1.4;
  margin: 0 4px;
}
/* line 1274, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  vertical-align: middle;
}
/* line 1279, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .select {
  width: 322px;
  position: relative;
  border: 1px solid #2c2c2c;
  color: #000;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  line-height: 5px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
}
/* line 1292, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .select img {
  float: left;
  line-height: 1.2;
  margin-right: 8px;
}
/* line 1297, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .select h1 {
  display: inline-block;
  height: 40px;
  line-height: 20px;
  margin: 0;
}
/* line 1303, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .select::before {
  content: '';
  clear: both;
  height: 0;
  width: 0;
}
/* line 1309, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .select::after {
  content: '';
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0 solid transparent;
  display: inline-block;
  border-left-width: 6px;
  border-right-width: 6px;
  float: right;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
  margin-top: 6px;
}
/* line 1329, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .up::after {
  transform: rotate(180deg);
}
/* line 1333, ../sass/screen.scss */
#about .joinbox .rightbox .description .choose .choose-container {
  display: inline-block;
  width: 322px;
}
/* line 1338, ../sass/screen.scss */
#about .joinbox .rightbox .description .area-dropdown {
  visibility: hidden;
  position: absolute;
  top: 40px;
  width: 322px;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  filter: drop-shadow(1px 1px 4px #e5e5e5);
  box-shadow: 1px 1px 4px #e5e5e5;
}
/* line 1350, ../sass/screen.scss */
#about .joinbox .rightbox .description .area-dropdown li.bankname {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #eee;
}
/* line 1354, ../sass/screen.scss */
#about .joinbox .rightbox .description .area-dropdown li.bankname:hover {
  background-color: #eee;
  transition: all 0.5s;
  cursor: pointer;
}
/* line 1359, ../sass/screen.scss */
#about .joinbox .rightbox .description .area-dropdown li.bankname img {
  float: left;
  line-height: 30px;
  margin-right: 8px;
  margin-top: 5px;
}
/* line 1365, ../sass/screen.scss */
#about .joinbox .rightbox .description .area-dropdown li.bankname h1 {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
/* line 1373, ../sass/screen.scss */
#about .joinbox .rightbox .description .verifyform {
  margin-bottom: 40px;
}
/* line 1375, ../sass/screen.scss */
#about .joinbox .rightbox .description .verifyform .mark,
#about .joinbox .rightbox .description .verifyform input {
  vertical-align: top;
}
/* line 1379, ../sass/screen.scss */
#about .joinbox .rightbox .description .verifyform input {
  width: 150px;
  margin-bottom: 0;
}

/* line 1389, ../sass/screen.scss */
.mark {
  font-size: 14px;
  color: red;
  line-height: 2.6;
}

/* line 1395, ../sass/screen.scss */
.nomark {
  margin-left: 10px;
}

/* line 1399, ../sass/screen.scss */
.text-black {
  color: #2c2c2c;
}
/* line 1402, ../sass/screen.scss */
.text-black input {
  margin-left: 10px;
  margin-right: 5px !important;
  vertical-align: 9px !important;
  width: 20px !important;
  height: 20px;
}

/* line 1411, ../sass/screen.scss */
.text-orange {
  color: orange;
}

/* line 1417, ../sass/screen.scss */
#sport iframe {
  margin: 50px auto;
}
